{{> head }}
    <body>
        {{> navigation }}
        <main>
            <h1>{{ heading }}</h1>

            <div class="content-panel">
                {{#if loginFailed}}
                <p class="warning">
                    Invalid username or password!
                </p>
                {{/if}}

                <form method="post" action="/login">
                    <p>
                        <label class="form-label" for="username">Login</label>
                        <input type="text" id="username" name="username" value="{{username}}">
                    </p>
                    <p>
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password">
                    </p>
                    <p>
                        <input type="submit" value="Login">
                    </p>
                </form>
            </div>
        </main>

    </body>
</html>